
html {
  overflow-x: unset;
  overflow-y: unset;
}
body {
  font-family: 'MTSSans', sans-serif !important;
  font-weight: 400 !important;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit !important;
  font-weight: 700 !important;
}
dl + dl {
  margin-top: 16px;
}
dt {
  color: var(--color-text-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
dd {
  color: var(--color-text);
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
}
input::placeholder {
  color: var(--color-text-tertiary) !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}


